<div data-page="fun-facts" class="page navbar-fixed toolbar-fixed">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="center">
                about developers
            </div>
            <div class="right">
                <a href="#" class="back link button-sfx" data-target-view="index-1">
                    <i class="fa fa-fw fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        
        <div class="swiper-container" id="fun-facts-swiper-wrap">
            
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide="Vivian A. Domingo">
                    <section></section>
                </div>
                
                <div class="swiper-slide" data-slide="Ma. Cristina A. De Guzman">
                    <section></section>
                </div>
                
                <div class="swiper-slide" data-slide="Chrissie Ann C. De Vera">
                    <section></section>
                </div>
            </div><!--/.swiper-wrapper-->
            
            <div class="swiper-pagination"></div>
        </div><!--/.swiper-container-->
        
    </div>

</div>