<div data-page="fun-facts" class="page navbar-fixed toolbar-fixed">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="center">
                fun facts
            </div>
            <div class="right">
                <a href="#" class="back link button-sfx" data-target-view="index-1">
                    <i class="fa fa-fw fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        
        <div class="swiper-container" id="fun-facts-swiper-wrap">
            
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide="1">
                    <section>
                        Natural events such as volcanic eruptions and meteor impacts can cause earthquakes, but the majority of naturally-occurring earthquakes are triggered by movement of the earth's plates.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="2">
                    <section>
                        The earth's surface consists of 20 constantly moving plates. The pressure increase from shifting plates can cause the crust to break. This break allows stress to be released as energy, which moves through the earth in the form of waves (aka earthquakes).
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="3">
                    <section>
                        Normally, it's not the shaking ground itself that claims lives during an earthquake. It's the associated destruction of man-made structures and the instigation of other natural disasters such as tsunamis, avalanches and landslides. Not only is it important to have a plan for yourself in the case of an earthquake, but your pets need a disaster plan as well. Create an earthquake plan for the animals around so if disaster strikes, you’ll be prepared. Sign up for Save Our Pets.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="4">
                    <section>
                        The National Earthquake Information Center (NEIC) records an average of 20,000 earthquakes every year (about 50 a day) around the world. There are, however, millions of earthquakes estimated to occur every year that are too weak to be recorded.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="5">
                    <section>
                        Each year the southern California area has about 10,000 earthquakes -- the majority of which go unnoticed. However, if there is a large earthquake the aftershock sequence will produce many more earthquakes of all magnitudes for months.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="6">
                    <section>
                        Almost 80% of all the planet's earthquakes occur along the rim of the Pacific Ocean, called the "Ring of Fire"; a region that encircles the Pacific Ocean and is home to 452 volcanoes (over 75% of the world's active and dormant volcanoes).
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="7">
                    <section>
                        The largest recorded earthquake in the United States was a magnitude 9.2 that struck Prince William Sound, Alaska on March 28, 1964.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="8">
                    <section>
                        The earth's surface consists of 20 constantly moving plates. The pressure increase from shifting plates can cause the crust to break. This break allows stress to be released as energy, which moves through the earth in the form of waves (aka earthquakes).
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="9">
                    <section>
                        When the Chilean earthquake occurred in 1960, seismographs recorded seismic waves that traveled around the world. These seismic waves shook the entire earth for many days.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="10">
                    <section>
                        An undersea earthquake in the Indian Ocean triggered a series of devastating tsunamis on Dec. 26, 2004. The tsunamis struck the coasts of most landmasses bordering the Indian Ocean, bringing 100-foot waves and killing over 225,000 people in 11 countries.
                    </section>
                </div>
                
                <div class="swiper-slide" data-slide="11">
                    <section>
                        Alaska is the most earthquake-prone state and one of the most seismically active regions in the world. The region experiences a magnitude 7.0 earthquake almost every year and a magnitude 8.0 or greater earthquake approximately once every 14 years.
                    </section>
                </div>
               
            </div><!--/.swiper-wrapper-->
            
            <div class="swiper-pagination"></div>
        </div><!--/.swiper-container-->
        
    </div>

</div>