@mixin reset(){
	position: relative;
	padding: 0;
	margin: 0;
	clear: both;
	float: none;
}

@mixin center($param, $ox, $oy){
	$ox: auto;
	$oy: auto;
	$x: 0%;
	$y: 0%;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: $oy;
	margin-left: $ox;

	@if $param == x {
		$x: -50%;
		$y: 0%;
	}
	@else if $param == y {
		$x: 0%;
		$y: -50%;
	}
	@else if $param == xy{
		$x: -50%;
		$y: -50%;
	}

	@each $prefix in $vendors{
		#{$prefix}transform: translate($x, $y);
	}
}

@mixin viewportDim($stack){
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: $stack;
}

@mixin borderRadius($radius){
	@each $prefix in $vendors{
		#{$prefix}border-radius: $radius;
	}
}

@mixin boxSizing($box){
	@each $prefix in $vendors{
		#{$prefix}box-sizing: $box + -box;
	}
}