*{
    color: #FFEBB5;
    
    color: #F4867B;
    
    color: #F8AEAA;
    
    color: #DBF1FA;
    
    color: #00A99D;
    
    color: #97CB6F;
    
    color: #A9D560;
    
    color: #ab9159;
    
    box-shadow: "0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #eea3a3, 0 0 0 10px rgba(255, 255, 255, 0.5)";
}